@import 'default';
@import 'mixin';

.wine {
  .about {
    ul {
      display: block;
      list-style: disc;
      margin-left: 50px;

      li {
        margin: 25px 0;
        line-height: 35px;
      }
    }

    ol {
      margin-left: 50px;
    }
  }

  .product {
    padding:  0;
  }
}